{
  "info": {
    "title": "Mangools API",
    "version": "3.0.0",
    "description": "Exact search volumes, related keyword suggestions, SEO difficulty score and other metrics from all Mangools tools.\n\n## Rate limits & quotas\n\nTwo independent limits apply:\n\n1. **Burst limit (`reqs-per-short-period`)** — at most 3 requests per sliding window, counted per account (or per device when unauthenticated) and per resource pool (e.g. `serps`, `related-keywords`). For API-key clients (REST, curl, SDKs, automation tools) the window is 30 seconds; requests through the hosted MCP server get a 1-second window. A request over the limit is refused with HTTP 429 and `type: \"RateLimit\"`; the answer carries `retry_after` in the body and a `Retry-After` header, both the length of the burst window in seconds (30 or 1), so after waiting that long all slots are free again. Refused requests are not counted, and identical requests repeated within 24 hours, except keyword imports, are served from cache and skip both the burst limit and the quota. Send requests one at a time, not in parallel, and leave at least 11 seconds between requests to the same pool: the window check is inclusive on its boundary, so a request exactly 30 seconds after the first one of three is still refused. On a 429 `RateLimit`, wait `retry_after` seconds and send the same request again.\n2. **Quota pools** — each paid operation draws from a named pool returned under `resources` in `GET /kwfinder/limits`. Daily pools (e.g. `serps`, `related-keywords`, `sch-url-metrics`, `kw-url-metrics`, `lm-url-metrics`, `sp-overview`, `trends`, `lm-suggest`) run in 24-hour periods: the first counted request starts a period, and when it ends the whole pool is available again; monthly pools (e.g. `links`) reset at the end of the calendar month. Identical requests within 24 hours are served from cache and do not consume quota. Each paid operation declares its pool in an `x-quota-pool` extension. Each pool's `reset` value is the number of seconds remaining until reset (relative, not a unix timestamp).\n\nFor API-key clients, the keyword-import endpoint also allows only one import per 30 seconds per account; a faster import answers 429 with `type: \"RateLimit\"` and `retry_after` set to the seconds left. A spent quota answers 429 with `type: \"CreditLimit\"`, which never carries `retry_after`.\n\n### Gateway rate limit\n\nEvery endpoint sits behind a public gateway that limits the request rate per client IP. A request over that rate is answered by the gateway itself with HTTP 429 and an HTML error page, not the JSON error object documented on the operations below.",
    "termsOfService": "https://mangools.com/conditions",
    "contact": {
      "email": "info@mangools.com",
      "url": "https://mangools.com/api"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.mangools.com/v3",
      "description": "The production API server"
    }
  ],
  "tags": [
    {
      "name": "kwfinder",
      "description": "All kwfinder endpoints.",
      "externalDocs": {
        "description": "Try tool",
        "url": "https://mangools.com/kwfinder"
      }
    },
    {
      "name": "serpchecker",
      "description": "All serpchecker endpoints.",
      "externalDocs": {
        "description": "Try tool",
        "url": "https://mangools.com/serpchecker"
      }
    },
    {
      "name": "linkminer",
      "description": "All linkminer endpoints.",
      "externalDocs": {
        "description": "Try tool",
        "url": "https://mangools.com/linkminer"
      }
    },
    {
      "name": "serpwatcher",
      "description": "All serpwatcher endpoints.",
      "externalDocs": {
        "description": "Try tool",
        "url": "https://mangools.com/serpwatcher"
      }
    },
    {
      "name": "siteprofiler",
      "description": "All siteprofiler endpoints.",
      "externalDocs": {
        "description": "Try tool",
        "url": "https://mangools.com/siteprofiler"
      }
    },
    {
      "name": "aisearchwatcher",
      "description": "All AI Search Watcher endpoints.",
      "externalDocs": {
        "description": "Try tool",
        "url": "https://mangools.com/ai-search-watcher"
      }
    },
    {
      "name": "mangools",
      "description": "Shared Mangools endpoints used across tools (e.g. locations)."
    },
    {
      "name": "paid",
      "description": "Endpoints whose successful calls count toward your paid lookup quota (related keywords, SERP lookups, backlink rows, etc.)."
    },
    {
      "name": "free",
      "description": "Endpoints that do not count toward your paid lookup quota (reading saved data, account limits, locations, etc.)."
    }
  ],
  "openapi": "3.0.3",
  "paths": {
    "/kwfinder/related-keywords": {
      "get": {
        "x-quota-pool": "related-keywords",
        "tags": [
          "kwfinder",
          "paid"
        ],
        "operationId": "get-kwfinder-related-keywords",
        "summary": "Get related keywords list",
        "description": "Get a list of relevant keywords based on your seed keyword. You only need to send your seed keyword. Location and language are optional.\n\nThe seed keyword comes first; the other keywords are not sorted by any metric.\n\n### Limits\n\nEach request is counted towards your **Keyword lookups** limit. Lookup is not counted if you make the identical request within 24 hours.\n\n### Locations\n\nYou can specify a location_id to get localized search volumes or use `0` for global search volumes.\n\nTo get a list of supported locations, please refer to [this article](https://developers.google.com/google-ads/api/data/geotargets).\n\n### Languages\n\nTo get a list of supported languages, please refer to [this article](https://developers.google.com/google-ads/api/data/codes-formats#languages).\n\n### Number of results\n\nEach request returns at most the related-keywords-rows value of your plan (see GET /kwfinder/limits), and never more than 10,000 keywords. Based on a seed keyword, location and language the number of returned keywords may vary.\n\n### Keyword metrics\n\nThe result is a list of keywords with metrics such as:\n   * CPC\n   * PPC\n   * Cached keyword difficulty, if exists.\n   * Average search volume\n   * Search volume history\n\n\n### Search volumes\n\nEach keyword in a list has an average [search volume](https://mangools.com/kwfinder/features/search-volume/) based on the last 12 months and search volume history. Search volume history length may vary - it may include data since 2015.\n",
        "parameters": [
          {
            "name": "kw",
            "in": "query",
            "description": "keyword",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location_id",
            "description": "ID of location, default 0",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "language_id",
            "description": "Language ID, default 0",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "keywords": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ImportedKeywords"
                      }
                    },
                    "language": {
                      "$ref": "#/components/schemas/Language"
                    },
                    "location": {
                      "$ref": "#/components/schemas/LocationRef"
                    },
                    "countKeywordsBeforeLimit": {
                      "type": "integer"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string",
                      "nullable": true,
                      "description": "Where the suggestions came from. Null for a plain related-keyword lookup.",
                      "example": null
                    }
                  }
                }
              }
            },
            "description": "Returns related keywords"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/kwfinder/competitor-keywords": {
      "get": {
        "x-quota-pool": "related-keywords",
        "tags": [
          "kwfinder",
          "paid"
        ],
        "operationId": "get-kwfinder-competitor-keywords",
        "summary": "Get list of keywords for domain or URL",
        "description": "Use to get keywords that specific URL or domain is ranking for.\n\nBy default the keywords are ordered by the domain's ranking position, from the worst position to the best.\n\n### Limits\n\nEach request is counted towards your **Keyword lookups** limit. Lookup is not counted if you make the identical request within 24 hours.\n\n### Locations\n\nUse **location_id** to specify country.\n\nEach request returns at most the competitor-keywords-rows value of your plan (see GET /kwfinder/limits), and never more than 1,000 keywords.\n\n### Supported locations\n\n0 (Anywhere) and the countries below are supported. A city or region ID is looked up as its country, and any other location answers HTTP 204 with an empty body.\n\n2012 (Algeria), 2024 (Angola), 2032 (Argentina), 2051 (Armenia), 2036 (Australia), 2040 (Austria), 2031 (Azerbaijan), 2048 (Bahrain), 2050 (Bangladesh), 2056 (Belgium), 2068 (Bolivia), 2076 (Brazil), 2100 (Bulgaria), 2854 (Burkina Faso), 2116 (Cambodia), 2120 (Cameroon), 2124 (Canada), 2152 (Chile), 2170 (Colombia), 2188 (Costa Rica), 2384 (Cote d'Ivoire), 2191 (Croatia), 2196 (Cyprus), 2203 (Czechia), 2208 (Denmark), 2218 (Ecuador), 2818 (Egypt), 2222 (El Salvador), 2233 (Estonia), 2246 (Finland), 2250 (France), 2276 (Germany), 2288 (Ghana), 2300 (Greece), 2320 (Guatemala), 2344 (Hong Kong), 2348 (Hungary), 2356 (India), 2360 (Indonesia), 2372 (Ireland), 2376 (Israel), 2380 (Italy), 2392 (Japan), 2400 (Jordan), 2398 (Kazakhstan), 2404 (Kenya), 2428 (Latvia), 2440 (Lithuania), 2458 (Malaysia), 2470 (Malta), 2484 (Mexico), 2504 (Morocco), 2104 (Myanmar), 2528 (Netherlands), 2554 (New Zealand), 2558 (Nicaragua), 2566 (Nigeria), 2807 (North Macedonia), 2578 (Norway), 2586 (Pakistan), 2591 (Panama), 2600 (Paraguay), 2604 (Peru), 2608 (Philippines), 2616 (Poland), 2620 (Portugal), 2642 (Romania), 2682 (Saudi Arabia), 2686 (Senegal), 2688 (Serbia), 2702 (Singapore), 2703 (Slovakia), 2705 (Slovenia), 2710 (South Africa), 2410 (South Korea), 2724 (Spain), 2144 (Sri Lanka), 2752 (Sweden), 2756 (Switzerland), 2158 (Taiwan), 2764 (Thailand), 2788 (Tunisia), 2792 (Turkey), 2804 (Ukraine), 2784 (United Arab Emirates), 2826 (United Kingdom), 2840 (United States), 2858 (Uruguay), 2862 (Venezuela), 2704 (Vietnam).",
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "description": "ID of location, default 0 (Anywhere).",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "Target URL / domain / subdomain",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns competitor-keywords for the url.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KwfinderCompetitors"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "x-quota-pool": "related-keywords",
        "tags": [
          "kwfinder",
          "paid"
        ],
        "operationId": "post-kwfinder-competitor-keywords",
        "summary": "Get list of keywords for domain or URL (POST variant)",
        "description": "Same as GET /kwfinder/competitor-keywords; the parameters go in the query string.\nUse to get keywords that specific URL or domain is ranking for.\n\n### Limits\n\nEach request is counted towards your **Keyword lookups** limit. Lookup is not counted if you make the identical request within 24 hours.\n",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "Target URL / domain / subdomain",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "ID of location, default 0 (Anywhere).",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns competitor-keywords for the url.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KwfinderCompetitors"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/kwfinder/competitor-domain": {
      "get": {
        "tags": [
          "kwfinder",
          "free"
        ],
        "operationId": "get-kwfinder-competitor-domain",
        "summary": "Get list of competitor domains",
        "description": "Returns a list of domains that compete with the specified URL/domain for organic keywords.\n\n### Limits\n\nRequires a GET or POST /kwfinder/competitor-keywords lookup for the same url and location_id within the last 24 hours; otherwise it answers HTTP 422 with the message No result. It does not count towards any pool.\n",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "Target URL / domain / subdomain",
            "required": true,
            "schema": {
              "type": "string",
              "example": "mangools.com"
            }
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "ID of location",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 2840
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of competitor domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "example.org",
                    "example.net"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/InvalidParameter"
          }
        }
      }
    },
    "/kwfinder/suggested-keywords": {
      "get": {
        "x-quota-pool": "related-keywords",
        "tags": [
          "kwfinder",
          "paid"
        ],
        "operationId": "get-kwfinder-suggested-keywords",
        "summary": "Get suggested keywords for URL",
        "description": "Returns suggested keywords based on the URL's ranking keywords.\nUsed primarily when creating new SERPWatcher trackings.\n\n### Limits\n\nEach request is counted towards your **Keyword lookups** limit. Lookup is not counted if you make the identical request within 24 hours.\n",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "Target URL / domain / subdomain",
            "required": true,
            "schema": {
              "type": "string",
              "example": "mangools.com"
            }
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "ID of location",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 2840
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns suggested keywords",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KwfinderSuggestedKeywords"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/kwfinder/keyword-imports": {
      "post": {
        "x-quota-pool": "related-keywords",
        "tags": [
          "kwfinder",
          "paid"
        ],
        "operationId": "post-kwfinder-keyword-imports",
        "summary": "Get details for a set of keywords",
        "description": "This is one of the most powerful endpoints in our API. You can import up to the related-keywords-rows value of your plan (see GET /kwfinder/limits; at least 200 keywords) in one request; a larger set answers HTTP 400.\n\nWith this endpoint, you will get the following details for each keyword:\n\n- Cached Keyword SEO difficulty (rank)\n- CPC, PPC\n- Search volume history\n- Average search volume (last 12 months - as `sv` attribute)\n- Organic SERP results and CTRs\n\n### Limits\n\nEach request counts as one lookup towards your **Keyword lookups** limit, also when it repeats an earlier import.\n\n### Locations\n\nYou can specify a location_id to get localized search volumes and SERPs.\n\nTo get a list of supported locations, please refer to [this article](https://developers.google.com/google-ads/api/data/geotargets).\n\n### How to send keywords\nTo get data about set of keywords send them in the request body. Don't forget to include location and language ids. See the following example of request body:\n\n    {\n       \"keywords\": [\n          \"seo agency\",\n          \"seo\",\n          \"seo specialist\"\n       ],\n       \"location_id\": 21167,\n       \"language_id\": 1000\n     }\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keywords": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "seo agency",
                      "seo",
                      "seo specialist"
                    ]
                  },
                  "location_id": {
                    "type": "integer",
                    "example": 21167
                  },
                  "language_id": {
                    "type": "integer",
                    "example": 1000
                  }
                },
                "required": [
                  "keywords",
                  "location_id",
                  "language_id"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Result ok.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "language": {
                      "$ref": "#/components/schemas/Language"
                    },
                    "location": {
                      "$ref": "#/components/schemas/LocationShort"
                    },
                    "keywords": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ImportedKeywords"
                      }
                    },
                    "countKeywordsBeforeLimit": {
                      "type": "integer",
                      "example": 500
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "description": "Either the plan limit for keyword imports is exhausted, or too many imports were started in a short period. In the second case `retry_after` carries the number of seconds to wait before retrying.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "type": "RateLimit",
                    "message": "Too many import requests, please slow down. retry_after is in seconds.",
                    "retry_after": 30
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kwfinder/serps": {
      "get": {
        "x-quota-pool": "serps",
        "tags": [
          "kwfinder",
          "paid"
        ],
        "operationId": "get-kwfinder-serps",
        "summary": "Get keyword details",
        "description": "This endpoint returns details for a specified keyword.\n\nWith this endpoint you will get:\n\n- Keyword SEO difficulty\n- Organic SERP results with essential metrics\n- Number of results in SERP\n- Click-through rates for each organic position\n\n### Limits\n\nEach request is counted towards your **SERP lookups** limit. Lookup is not counted if you make the identical request within 24 hours.\n",
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "description": "ID of location. 0 or no value means 2840 (United States).",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "language_id",
            "in": "query",
            "description": "Language ID",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "platform_id",
            "in": "query",
            "description": "Platform: 1 desktop (default), 2 mobile.",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ],
              "default": 1
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page, default 0",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "kw",
            "description": "keyword",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "example"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns SERP results for a given keyword, location, platform etc.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rkID": {
                      "type": "string",
                      "description": "ID of the related-keywords lookup this SERP belongs to."
                    },
                    "serp": {
                      "$ref": "#/components/schemas/Serp"
                    },
                    "kwOpps": {
                      "type": "object",
                      "description": "Keyword opportunities found in the organic results.",
                      "properties": {
                        "isOutdatedPage": {
                          "type": "boolean",
                          "description": "Whether one of the top five organic results was published more than six months ago."
                        },
                        "missingWordsInTitle": {
                          "type": "array",
                          "description": "Words of the keyword that are missing from the titles of the top five organic results.",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "searchIntent": {
                      "type": "object",
                      "description": "Search intent of the keyword, keyed by keyword ID.",
                      "additionalProperties": {
                        "type": "array",
                        "nullable": true,
                        "description": "Intent labels of the keyword, or null when none could be determined.",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "contentTypes": {
                      "type": "array",
                      "description": "Content types found in the organic results.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "serpFeatures": {
                      "type": "array",
                      "description": "SERP features present on the results page.",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/kwfinder/keywords": {
      "post": {
        "tags": [
          "kwfinder",
          "free"
        ],
        "operationId": "post-kwfinder-keywords",
        "summary": "Get keywords by ID as JSON, or as CSV with the .csv suffix",
        "description": "`fields` can be used to filter columns you wish to include in the export.\n possible values include:\n   * kw: Keyword\n   * sv: Avg. Search Volume\n   * lid: Location\n   * cpc: Cost per click\n   * ppc: PPC competition (0-100)\n   * seo: Keyword difficulty\n   * msv: Monthly Search Volume\n\n### Prerequisites\nThe `keyword_ids` are Mangools-specific identifiers returned by keyword-producing endpoints — call one of `/kwfinder/keyword-imports`, `/kwfinder/related-keywords`, `/kwfinder/competitor-keywords`, `/kwfinder/suggested-keywords`, or `/kwfinder/serps` first and reuse the `_id` values (or `mId` for SERP items). IDs that do not correspond to known keywords are silently dropped from the response.\n\n\nThe response is a JSON array of keyword objects. Posting to `/kwfinder/keywords.csv` instead returns the same data as a `text/csv` attachment.\n\nAt most 10,000 keyword IDs per request.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyword_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "916647301d98e2ec41df257cbdf97ac0",
                      "916647301d98e2ec41df257cbdf97ac0"
                    ]
                  },
                  "fields": {
                    "type": "string",
                    "description": "Comma-separated CSV columns, for example kw,sv,lid. Ignored for JSON.",
                    "example": "kw,sv,lid"
                  }
                },
                "required": [
                  "keyword_ids"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The requested keywords with their metrics.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Keyword"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "language": {
                            "$ref": "#/components/schemas/Language"
                          },
                          "location": {
                            "$ref": "#/components/schemas/LocationShort"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/kwfinder/requests": {
      "get": {
        "tags": [
          "kwfinder",
          "free"
        ],
        "operationId": "get-kwfinder-requests",
        "summary": "Get history of lookups",
        "description": "Get your last 100 KWFinder lookups, oldest first. Each entry has a type t: 0 related keywords (with kw, language, rank, rank_ts and location), 1 competitor keywords (with url and location), 2 keyword gap.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of KwfinderRequest objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KWfinderRequest"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/kwfinder/trends": {
      "get": {
        "x-quota-pool": "trends",
        "tags": [
          "kwfinder",
          "paid"
        ],
        "operationId": "get-kwfinder-trends",
        "summary": "Get trends",
        "description": "**Deprecated — no fresh data since January 2025.** Previously returned monthly search volume trends for a given keyword sourced from Google Trends. Every request returns an empty `data` array. New integrations should rely on the search volume history returned by `/kwfinder/keyword-imports`. A request counts towards your trends pool unless the same request was made in the last 24 hours.",
        "deprecated": true,
        "parameters": [
          {
            "name": "kw",
            "in": "query",
            "description": "keyword",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns search volume trends for given keyword",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "created_at": {
                      "type": "integer",
                      "example": 1592698144
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "t": {
                            "type": "integer",
                            "description": "point in time",
                            "example": 1072915200
                          },
                          "v": {
                            "type": "integer",
                            "description": "search volume",
                            "example": 7
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/kwfinder/kd/url-metrics": {
      "get": {
        "x-quota-pool": "kw-url-metrics",
        "tags": [
          "kwfinder",
          "paid"
        ],
        "operationId": "get-kwfinder-kd-url-metrics",
        "summary": "Get url-metrics for url",
        "description": "Get keyword difficulty (KD) URL metrics for a specific URL — the URL authority score used as an input signal when calculating KWFinder's keyword difficulty.\n\n### Limits\n\nCounts toward the daily kw-url-metrics pool in GET /kwfinder/limits. Identical requests within 24 hours are reused from cache.",
        "parameters": [
          {
            "name": "url",
            "description": "Target URL",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Result ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KdUrlMetrics"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/kwfinder/kd/requests": {
      "get": {
        "tags": [
          "kwfinder",
          "free"
        ],
        "operationId": "get-kwfinder-kd-requests",
        "summary": "Get KD lookup history",
        "description": "Get the history of your recent keyword difficulty URL lookups performed through `/kwfinder/kd/url-metrics`. Each entry includes the URL and the URL authority score that was returned at the time — useful for rebuilding a \"recent URL metrics\" panel in a client.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns KD lookup history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Your last 100 URL lookups, oldest first.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "md5 hash of the looked-up URL."
                      },
                      "t": {
                        "type": "integer",
                        "description": "Entry type, always 0."
                      },
                      "url": {
                        "type": "string",
                        "description": "The looked-up URL."
                      },
                      "lps": {
                        "type": "number",
                        "description": "URL authority score returned by the lookup."
                      },
                      "created": {
                        "type": "integer",
                        "description": "Unix timestamp (seconds) of the lookup."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/kwfinder/gap-analysis": {
      "post": {
        "x-quota-pool": "related-keywords",
        "tags": [
          "kwfinder",
          "paid"
        ],
        "operationId": "post-kwfinder-gap-analysis",
        "summary": "Keyword Gap Analysis",
        "description": "Find keywords that your competitors rank for but your domain doesn't — the classic SEO content-gap analysis. Compare your domain against up to 5 competitors.\n\nRequest body:\n\n* `domain` — your domain to analyze\n* `competitors` — array of 1–5 competitor domains\n* `location_id` — location for the analysis\n* `page` — optional page number (Premium, Agency, Custom and API Pro plans; other plans always get page 1)\n\nThe response holds one result per competitor: the keywords that competitor ranks for and your domain does not, ordered by the competitor's position, best first. Each keyword includes search volume, keyword difficulty, CPC and the competitor's position.\n\n### Limits\n\nEach competitor counts as one lookup towards your **Keyword lookups** limit, unless the same domain, competitor, location and page were requested in the last 24 hours.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain",
                  "competitors",
                  "location_id"
                ],
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Your domain to analyze",
                    "example": "mangools.com"
                  },
                  "competitors": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 5,
                    "description": "List of competitor domains (1-5)",
                    "example": [
                      "example.org",
                      "example.net"
                    ]
                  },
                  "location_id": {
                    "type": "integer",
                    "description": "Location ID for the analysis",
                    "example": 2840
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 1,
                    "description": "Page number (Premium, Agency, Custom and API Pro plans; other plans always get page 1)"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Keyword gap analysis results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KwfinderGapAnalysis"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/kwfinder/limits": {
      "get": {
        "tags": [
          "kwfinder",
          "free"
        ],
        "operationId": "get-kwfinder-limits",
        "summary": "Get current and free limits",
        "description": "Get your current API usage and remaining limits across every Mangools resource — Keyword lookups, SERP lookups, Backlink rows, Tracked keywords, and more. Useful for quota checks before sending expensive requests, or for surfacing usage information in a client dashboard.\n\nAuthentication is optional on this operation: a request without `X-Access-Token`, or with a token that matches no account, returns HTTP 200 with nothing remaining in any pool rather than HTTP 401. Do not use this operation to validate an API key — use one that requires authentication, such as `GET /kwfinder/requests`.",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "description": "Returns limits on different mangools resources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Limit"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/GatewayRateLimited"
          }
        }
      }
    },
    "/kwfinder/lists": {
      "get": {
        "tags": [
          "kwfinder",
          "free"
        ],
        "operationId": "get-kwfinder-lists",
        "summary": "Get all lists",
        "description": "Get all keyword lists saved on your account. Each list returns its id, name and the ids of the keywords it contains. Use `GET /kwfinder/lists/{list_id}` to load the full keyword data for a specific list.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of Kwfinder list objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KwfinderList"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "kwfinder",
          "free"
        ],
        "operationId": "post-kwfinder-lists",
        "summary": "Add new list",
        "description": "Create a new keyword list on your account.\n\nRequired fields:\n\n* `name` — list name\n* `keyword_ids` — array of keyword IDs to populate the list (may be empty to create an empty list)\n\nKeyword IDs typically come from previous KWFinder lookups such as `/kwfinder/related-keywords` or `/kwfinder/keyword-imports`. An account can hold up to 10,000 lists; creating more answers HTTP 422.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyword_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "keyword_ids",
                  "name"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "The list was created. Returns the stored list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KwfinderList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/kwfinder/lists/{list_id}": {
      "get": {
        "tags": [
          "kwfinder",
          "free"
        ],
        "operationId": "get-kwfinder-lists-by-list-id",
        "summary": "Get items in List, filter by list ID",
        "description": "Get a single keyword list together with the full keyword data (search volume, CPC, PPC, keyword difficulty, location) for every keyword in it. Suffix the URL with `.csv` to download the list as a CSV export instead of JSON.",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "description": "ID of the list",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "Comma-separated column list for the CSV form of this response (`?ext=csv` or `Accept: text/csv`): kw, sv, lid, cpc, ppc, seo, msv. It has no effect on the JSON response, which always returns every field.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "kw,sv,cpc,seo"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns object consisting of keyword array and list object data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keywords": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/Keyword"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "location": {
                                "$ref": "#/components/schemas/LocationShort"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "list": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "description": "Unique list identifier. Use this value as the `list_id` path parameter for `GET /kwfinder/lists/{list_id}`, `PATCH /kwfinder/lists/{list_id}` and the keyword sub-resources.",
                          "example": "6a29390c4c966b1271aef0d2"
                        },
                        "name": {
                          "type": "string",
                          "description": "name",
                          "example": "My Awesome Keyword List"
                        },
                        "user_id": {
                          "type": "string",
                          "description": "user_id",
                          "example": "005de7e7771450763339653e918778ef"
                        },
                        "creator": {
                          "type": "string",
                          "description": "ID of the user who created the list.",
                          "example": "005de7e7771450763339653e918778ef"
                        },
                        "created_at": {
                          "type": "integer",
                          "description": "created_at timestamp",
                          "example": 1590868935
                        },
                        "updated_at": {
                          "type": "integer",
                          "description": "updated_at timestamp",
                          "example": 1590868935
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "kwfinder",
          "free"
        ],
        "operationId": "patch-kwfinder-lists-by-list-id",
        "summary": "Update List name",
        "description": "Rename an existing keyword list.\n\nRequired field:\n\n* `name` — new list name\n\nReturns HTTP 204.",
        "parameters": [
          {
            "name": "list_id",
            "description": "ID of the list to rename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "My Awesome Keyword List"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Returns http status code `204` with empty response body"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "kwfinder",
          "free"
        ],
        "operationId": "delete-kwfinder-lists-by-list-id",
        "summary": "Remove custom list",
        "description": "Delete a keyword list. The list is removed from your account; keyword data referenced by the list is unaffected and remains available in other lookups. Returns HTTP 204.",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "description": "list ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Returns http status code `204` with empty response body"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/kwfinder/lists/{list_id}/keywords": {
      "post": {
        "tags": [
          "kwfinder",
          "free"
        ],
        "operationId": "post-kwfinder-lists-by-list-id-keywords",
        "summary": "Add new keywords to the list",
        "description": "Add one or more keywords to an existing keyword list.\n\nRequired field:\n\n* `keyword_ids` — non-empty array of keyword IDs\n\nDuplicates are handled silently (an existing keyword is not added twice). A list holds up to 10,000 keywords; adding more answers HTTP 422 with type OutOfLimitException. Returns HTTP 204.",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "description": "list ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyword_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "916647301d98e2ec41df257cbdf97ac0",
                      "916647301d98e2ec41df257cbdf97ac0"
                    ]
                  }
                },
                "required": [
                  "keyword_ids"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Returns http status `204` with empty response"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "kwfinder",
          "free"
        ],
        "operationId": "delete-kwfinder-lists-by-list-id-keywords",
        "summary": "Remove keywords from the list",
        "description": "Remove one or more keywords from a keyword list. Pass `keyword_ids` in the request body. Keywords not currently in the list are ignored silently. Returns HTTP 204.",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "description": "list ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyword_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "916647301d98e2ec41df257cbdf97ac0",
                      "916647301d98e2ec41df257cbdf97ac0"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Returns http status `204` with empty response"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/serpchecker/serps": {
      "get": {
        "x-quota-pool": "serps",
        "tags": [
          "serpchecker",
          "paid"
        ],
        "operationId": "get-serpchecker-serps",
        "summary": "Get SERP results w. all metrics + snapshot",
        "description": "Use this endpoint to get a detailed SERP with all its features.\n\nWith this endpoint you will get:\n   *  ```items``` - List of organic and paid results for a given keyword along with other SERP features (rich snippets)\n   * URL, title, description and CTR for each organic result\n   * SEO metrics (Moz, Majestic, Facebook) for each organic result (URL)\n   * Link to the actual SERP preview\n   * SERP features impact metric\n   * \"Above the fold\" visibility of a specific item (```screenCoverage``` - % of screen does it take & ```visPart``` - % of visible part)\n   * Total number of results for a specific search query in search\n\n### Locations\n\nSpecify the `location_id` to get localized SERPs. Don't forget that you can localize down to the city level!\n\nTo get a list of supported locations, please refer to [this article](https://developers.google.com/google-ads/api/data/geotargets).\n\n### Enumeration of Rich snippet items in response\n\nHere is the list of all possible rich snippets, or SERP features, we detect. If you are not familiar with them, you can [read more about them](https://mangools.com/blog/google-rich-snippets-guide/) on our blog.\n\n\n    - SPELL_ERROR\n    - SUGGESTION\n    - KNO_GRAPH\n    - KNO_GRAPH_LINK\n    - TOP_CAROUSEL\n    - TOP_STORIES\n    - ADV_TOP\n    - ADV_BOTTOM\n    - NEWS_CAROUSEL\n    - NEWS_PACK\n    - IMG_PACK\n    - VIDEO_PACK\n    - FLIGHTS\n    - VIDEO_PANEL\n    - INSTALL_APP\n    - INSTALL_APP_GRID\n    - LOCAL_PACK\n    - PROGRAM_OVERVIEW\n    - ORGANIC\n    - SIMILAR_QUERIES\n    - SIMILAR_ENTITIES\n    - SIMILAR_ENTITIES2\n    - SIMILAR_QUESTIONS\n    - SPECIFY_QUERY\n    - SIMILAR_PLACES\n    - POPULAR_LIST\n    - QUANTITY_ANSWER\n    - CURRENCY\n    - TIME\n    - FEATURED_SNIPPET\n    - WEATHER\n    - TRANSLATOR\n    - DICTIONARY\n    - TOP_SIGHTS\n    - TRAVEL_BOX\n    - INDEPTH_ARTICLE\n    - SHOP_RESULTS\n    - JOB_POSTING\n    - SPORTS\n",
        "parameters": [
          {
            "name": "location_id",
            "description": "Location ID. 0 or no value means 2840 (United States).",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "kw",
            "description": "Keyword",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platform_id",
            "description": "Platform: 1 = desktop (default), 2 = mobile",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ],
              "default": 1
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Result ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Serp"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/serpchecker/serps/reset": {
      "get": {
        "x-quota-pool": "serps",
        "tags": [
          "serpchecker",
          "paid"
        ],
        "operationId": "get-serpchecker-serps-reset",
        "summary": "Re-fetch SERP results with all metrics (consumes serp_count SERP credits)",
        "description": "Force a re-parse of the SERP and return updated results with all features. **This operation consumes serp_count SERP credits per call (one per page, default 1)**, even though it is a GET request, and a page that fails to re-parse is still charged. It is NOT a free read — use it only when you intentionally want fresh SERP data. For cached results that do not consume credits, use `GET /serpchecker/serps` instead.\n",
        "parameters": [
          {
            "name": "location_id",
            "description": "Location ID. 0 or no value means 2840 (United States).",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "kw",
            "description": "Keyword",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platform_id",
            "description": "Platform: 1 = desktop (default), 2 = mobile",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ],
              "default": 1
            }
          },
          {
            "name": "serp_count",
            "description": "Number of SERP pages to reparse (1-10). Defaults to 1.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 1
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Result ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SerpResetResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/serpchecker/url-metrics": {
      "get": {
        "x-quota-pool": "sch-url-metrics",
        "tags": [
          "serpchecker",
          "paid"
        ],
        "operationId": "get-serpchecker-url-metrics",
        "summary": "Get url-metrics for url",
        "description": "Get SEO metrics for a specific URL — MOZ Domain Authority and Page Authority, plus Majestic Citation Flow and Trust Flow. Useful for enriching competitor URLs without running a full SERP lookup.\n\n### Limits\n\nCounts toward the daily sch-url-metrics pool in GET /kwfinder/limits. Identical requests within 24 hours are reused from cache.",
        "parameters": [
          {
            "name": "url",
            "description": "Target URL",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Result ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SerpcheckerUrlMetrics"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/serpchecker/requests": {
      "get": {
        "tags": [
          "serpchecker",
          "free"
        ],
        "operationId": "get-serpchecker-requests",
        "summary": "Get latest requests",
        "description": "Get the history of your recent SERP lookups performed through `/serpchecker/serps`. Each entry includes the queried keyword and location — useful for rebuilding a \"recent searches\" panel in a client.",
        "parameters": [],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Result ok.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Your last 100 SERP lookups, oldest first.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "SERP ID."
                      },
                      "t": {
                        "type": "integer",
                        "description": "Entry type, always 0."
                      },
                      "created": {
                        "type": "integer",
                        "description": "Unix timestamp (seconds) of the lookup."
                      },
                      "kw": {
                        "type": "string"
                      },
                      "platform_id": {
                        "type": "integer"
                      },
                      "location": {
                        "$ref": "#/components/schemas/LocationShort"
                      },
                      "rank": {
                        "type": "integer",
                        "nullable": true
                      },
                      "rank_ts": {
                        "type": "integer",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/serpchecker/serps/{serp_id}/snapshot": {
      "get": {
        "tags": [
          "serpchecker",
          "free"
        ],
        "operationId": "get-serpchecker-serps-by-serp-id-snapshot",
        "summary": "Get a SERP snapshot image",
        "description": "### Prerequisites\nThis endpoint requires a prior call to `/serpchecker/serps` for the same query. Pass the `serp_snapshot_id` from that response, **not** the bare `_id`: the snapshot is stored under a key of the form `<id>.<YYYY-MM-DD>` (with `.100` appended for a hundred-result SERP), and that whole key is what this path segment takes. A bare `_id` finds the lookup but not the stored page, and the endpoint answers HTTP 404 `SERP snapshot not found`. A query that was never looked up answers HTTP 404 `Serp not found`.",
        "parameters": [
          {
            "name": "serp_id",
            "in": "path",
            "description": "The `serp_snapshot_id` returned by `/serpchecker/serps` — the storage key `<id>.<YYYY-MM-DD>[.100]`, not the bare serp `_id`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The snapshot as a base64-encoded PNG in image.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "image": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/linkminer/url-metrics": {
      "get": {
        "x-quota-pool": "lm-url-metrics",
        "tags": [
          "linkminer",
          "paid"
        ],
        "operationId": "get-linkminer-url-metrics",
        "summary": "Get url metrics for target URL",
        "description": "Get SEO metrics for a specific URL, domain or subdomain — Citation Flow, Trust Flow, referring domain and backlink counts sourced from Majestic. Useful for quickly evaluating a target's link authority before pulling a full backlink profile.\n\n### Limits\n\nCounts toward the daily lm-url-metrics pool in GET /kwfinder/limits. Identical requests within 24 hours are reused from cache.",
        "parameters": [
          {
            "name": "url",
            "description": "Target URL",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkminerUrlMetrics"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/linkminer/links": {
      "get": {
        "x-quota-pool": "links",
        "tags": [
          "linkminer",
          "paid"
        ],
        "operationId": "get-linkminer-links",
        "summary": "Get backlinks",
        "description": "Use this endpoint to get a list of backlinks for a specific URL, domain or URL path. It returns up to 500 backlinks per page.\n\nTo get more backlinks you need to paginate with `page` parameter.\n\nTip: set `links_per_domain` to `1` to get one backlink per referring domain.\n\n### Limits\n\nEach request is counted towards your **Backlink rows** limit. It is reduced for each returned link.\n",
        "parameters": [
          {
            "name": "url",
            "description": "The URL, domain or path that we will return backlinks for.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "description": "0 - all (default)\n1 - new\n2 - lost\n",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "description": "Page number, starting at 0. Each page holds up to 500 links.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "links_per_domain",
            "description": "How many backlinks from one referring domain should be returned. 0 for all backlinks from the ref. domain. 1 for one backlink per ref. domain.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackLinks"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/linkminer/favorite-links/{link_id}": {
      "patch": {
        "tags": [
          "linkminer",
          "free"
        ],
        "operationId": "patch-linkminer-favorite-links-by-link-id",
        "summary": "Set favorite link",
        "description": "### Prerequisites\nThe `link_id` is the `_id` of a link returned by `/linkminer/links`. Call that endpoint first for the relevant target URL; unknown `link_id` values are silently ignored and the endpoint returns `null`.\n",
        "parameters": [
          {
            "name": "link_id",
            "description": "link ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "favorite": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "favorite"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result ok.",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FavoriteList"
                    }
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/linkminer/favorites": {
      "get": {
        "tags": [
          "linkminer",
          "free"
        ],
        "operationId": "get-linkminer-favorites",
        "summary": "See favorite links",
        "description": "Get all favorite-link lists saved on your account, sorted by last update (newest first). Favorite lists are per-target groupings of backlinks you have starred on `/linkminer/links` results. Each list includes its target domain, id and update timestamp.",
        "responses": {
          "200": {
            "description": "Result ok.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FavoriteList"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/linkminer/favorites/{list_id}": {
      "get": {
        "tags": [
          "linkminer",
          "free"
        ],
        "operationId": "get-linkminer-favorites-by-list-id",
        "summary": "See favorite links",
        "description": "Get a single favorite-link list together with the full data of every backlink it contains. Useful for rendering a saved backlink set in your UI.",
        "parameters": [
          {
            "name": "list_id",
            "description": "list ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result ok.",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FavoriteList"
                    }
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "linkminer",
          "free"
        ],
        "operationId": "delete-linkminer-favorites-by-list-id",
        "summary": "Delete a favorite list",
        "description": "Delete a favorite-link list from your account. Does not affect the underlying backlinks returned by `/linkminer/links`. Returns HTTP 204.",
        "parameters": [
          {
            "name": "list_id",
            "description": "list ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Favorite list deleted. Returns HTTP 204 with an empty response body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/linkminer/requests": {
      "get": {
        "tags": [
          "linkminer",
          "free"
        ],
        "operationId": "get-linkminer-requests",
        "summary": "Get latest used requests",
        "description": "Get the history of your recent backlink lookups performed through `/linkminer/links`. Each entry includes the target URL, source type (all / new / lost) and the `links_per_domain` parameter that was used — useful for rebuilding a \"recent searches\" panel in a client.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Result ok.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "ID of the backlink lookup."
                      },
                      "t": {
                        "type": "integer",
                        "description": "Entry type, always 0."
                      },
                      "created": {
                        "type": "integer",
                        "description": "Unix timestamp (seconds) of the lookup."
                      },
                      "url": {
                        "type": "string",
                        "description": "The looked-up URL."
                      },
                      "source": {
                        "type": "integer",
                        "description": "Link source: 0 all, 1 new, 2 lost."
                      },
                      "links_per_domain": {
                        "type": "integer",
                        "description": "The links_per_domain value that was used."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/linkminer/exports": {
      "get": {
        "tags": [
          "linkminer",
          "free"
        ],
        "operationId": "get-linkminer-exports",
        "summary": "Get list of all exports, sorted by created_at",
        "description": "Get all full backlink CSV exports you have created, sorted by creation date (newest first). Each entry describes the target URL, the filters that were applied, the cost and the processing state. Once an export is ready, a `downloadURL` pointing to the generated CSV is included. The download link is returned for 60 days after the export completes.",
        "parameters": [],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of BackLinkExport",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BackLinkExport"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "x-quota-pool": "links",
        "tags": [
          "linkminer",
          "paid"
        ],
        "operationId": "post-linkminer-exports",
        "summary": "Create new exports task",
        "description": "Create a new full-backlink CSV export job for a target URL, domain or subdomain. The export is generated asynchronously — poll `/linkminer/exports` to track state and to obtain the `downloadURL` once the job completes.\n\n### Prerequisites\n\nCall `POST /linkminer/exports/suggest` first for the same URL to determine the available target types and the estimated cost; the export request requires a matching suggestion.\n\n### Limits\n\nThe export cost is subtracted from your **Backlink rows** limit.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Target in various formats (example.com, www.example.com, http://example.com). Must match one of the targets returned by POST /linkminer/exports/suggest.",
                    "example": "example.com"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Optional cap on the number of backlink rows to export. When omitted the full suggested cost is used; otherwise the smaller of the suggested cost and this limit is charged.",
                    "example": 10000
                  },
                  "filter": {
                    "type": "object",
                    "description": "Optional backlink filter applied to the export (same fields as the LinkMiner backlink filter).",
                    "properties": {
                      "targetAnchorText": {
                        "type": "string"
                      },
                      "targetHrefText": {
                        "type": "string"
                      },
                      "linkType": {
                        "type": "string"
                      },
                      "noFollow": {
                        "type": "boolean"
                      },
                      "liveLinks": {
                        "type": "boolean"
                      },
                      "minCitationFlow": {
                        "type": "integer"
                      },
                      "maxCitationFlow": {
                        "type": "integer"
                      },
                      "minTrustFlow": {
                        "type": "integer"
                      },
                      "maxTrustFlow": {
                        "type": "integer"
                      },
                      "minTopRank": {
                        "type": "integer"
                      },
                      "maxTopRank": {
                        "type": "integer"
                      },
                      "minLinkStrength": {
                        "type": "integer"
                      },
                      "maxLinkStrength": {
                        "type": "integer"
                      },
                      "flagTextLink": {
                        "type": "boolean"
                      },
                      "flagImageLink": {
                        "type": "boolean"
                      },
                      "flagFrameLink": {
                        "type": "boolean"
                      },
                      "flagRedirectLink": {
                        "type": "boolean"
                      },
                      "flagMentionLink": {
                        "type": "boolean"
                      },
                      "linksPerDomain": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The created export job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackLinkExport"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/siteprofiler/overview": {
      "get": {
        "x-quota-pool": "sp-overview",
        "tags": [
          "siteprofiler",
          "paid"
        ],
        "operationId": "get-siteprofiler-overview",
        "summary": "Get URL metrics overview",
        "description": "With this endpoint you will get the following details for a specific URL or (sub)domain:\n   * Domain Authority (MOZ)\n   * Page Authority (MOZ)\n   * Citation Flow (Majestic)\n   * Trust flow (Majestic)\n   * TopRank rank with history (since 2016 when available)\n   * Referring IPs with history (since 2016 when available)\n   * Facebook shares with history (since 2016 when available)\n",
        "parameters": [
          {
            "name": "url",
            "description": "Target URL / domain / subdomain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Result ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SPMetrics"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/siteprofiler/audience": {
      "get": {
        "tags": [
          "siteprofiler",
          "free"
        ],
        "operationId": "get-siteprofiler-audience",
        "summary": "Get audience for siteprofiler",
        "description": "### Prerequisites\nCall `/siteprofiler/overview` for the same URL first (within the last 24 hours). Without a recent overview lookup the endpoint returns HTTP 429 `Not in history`.\n",
        "parameters": [
          {
            "name": "url",
            "description": "Target URL / domain / subdomain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Audience data is not available through the API. The operation always returns HTTP 204 with an empty body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/siteprofiler/backlink-profile": {
      "get": {
        "tags": [
          "siteprofiler",
          "free"
        ],
        "operationId": "get-siteprofiler-backlink-profile",
        "summary": "Get backlink-profile for siteprofiler",
        "description": "With this endpoint you will get a backlink profile for a given URL. When a domain is requested, it returns the stats of the whole domain.\n\n### Prerequisites\nCall `/siteprofiler/overview` for the same URL first (within the last 24 hours). Without a recent overview lookup the endpoint returns HTTP 429 `Not in history`.\n",
        "parameters": [
          {
            "name": "url",
            "description": "Target URL / domain / subdomain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Result ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SPBacklinkProfile"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/siteprofiler/top-content": {
      "get": {
        "tags": [
          "siteprofiler",
          "free"
        ],
        "operationId": "get-siteprofiler-top-content",
        "summary": "Get top-content for siteprofiler",
        "description": "### Prerequisites\nCall `/siteprofiler/overview` for the same URL first (within the last 24 hours). Without a recent overview lookup the endpoint returns HTTP 429 `Not in history`.\n",
        "parameters": [
          {
            "name": "url",
            "description": "Target URL / domain / subdomain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Result ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SPTopContent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/siteprofiler/competitors": {
      "get": {
        "tags": [
          "siteprofiler",
          "free"
        ],
        "operationId": "get-siteprofiler-competitors",
        "summary": "Get competitors for siteprofiler",
        "description": "### Prerequisites\nCall `/siteprofiler/overview` for the same URL first (within the last 24 hours). Without a recent overview lookup the endpoint returns HTTP 429 `Not in history`.\n",
        "parameters": [
          {
            "name": "url",
            "description": "Target URL / domain / subdomain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Result ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SPCompetitors"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/InvalidParameter"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/siteprofiler/requests": {
      "get": {
        "tags": [
          "siteprofiler",
          "free"
        ],
        "operationId": "get-siteprofiler-requests",
        "summary": "Get recent lookups",
        "description": "Get your 50 most recent SiteProfiler lookups, newest first. Each entry is the analyzed URL or domain as a string, useful for rebuilding a \"recent analyses\" panel in a client.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Result ok.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "example.com"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/serpwatcher/trackings": {
      "post": {
        "tags": [
          "serpwatcher",
          "free"
        ],
        "operationId": "post-serpwatcher-trackings",
        "summary": "Create tracking",
        "description": "Create a new rank tracking for a single domain on a specific search location and platform. Pass the target `domain`, an initial list of `keywords`, the `location_id` and `platform_id`. Once the tracking is created, its keywords are queued for SERP crawl and default weekly and monthly email reports are automatically generated.\n\n### Platforms\n\nUse `platform_id` to choose the platform: 1 for desktop, 2 for mobile. For multiple platforms in a single call, see `/serpwatcher/multiple-trackings`.\n\n### Duplicates\n\nA tracking with the same domain, location and platform already in use returns HTTP 409.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain",
                  "location_id",
                  "platform_id",
                  "keywords"
                ],
                "properties": {
                  "domain": {
                    "type": "string"
                  },
                  "location_id": {
                    "type": "integer"
                  },
                  "platform_id": {
                    "type": "integer"
                  },
                  "keywords": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created new tracking.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingPost"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      },
      "get": {
        "tags": [
          "serpwatcher",
          "free"
        ],
        "operationId": "get-serpwatcher-trackings",
        "summary": "Get all trackings",
        "description": "Get all rank tracking campaigns owned by your account, sorted by creation date (newest first). Each tracking includes its location and the current count of tracked keywords. Set `is_with_deleted=true` to also include previously deleted trackings in the response.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Filter from date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Filter to date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_with_deleted",
            "in": "query",
            "description": "Set if return also deleted trackings",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all trackings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tracking"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/serpwatcher/trackings/{tracking_id}": {
      "delete": {
        "tags": [
          "serpwatcher",
          "free"
        ],
        "operationId": "delete-serpwatcher-trackings-by-tracking-id",
        "summary": "Remove tracking",
        "description": "Delete a rank tracking together with all its tracked keywords and email reports. Returns HTTP 204.",
        "parameters": [
          {
            "name": "tracking_id",
            "in": "path",
            "description": "tracking_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Removed tracking"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "serpwatcher",
          "free"
        ],
        "operationId": "patch-serpwatcher-trackings-by-tracking-id",
        "summary": "Change the domain or the local-SEO configuration of a tracking",
        "description": "Update the target domain of a tracking, or its local-SEO configuration (Google Business Profile `place_id` together with the business name and address).\n\nAt least one changed field is required. Updating to a domain, location and platform combination already used by another active tracking returns HTTP 409.",
        "parameters": [
          {
            "name": "tracking_id",
            "in": "path",
            "description": "tracking_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
[...]
